<!-- index.html -->
<html>
    <head>
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
		<article>
			<strong>Welcome to the HomePage<strong><br><em><ins>Page Loaded Successfully!<ins></ins></em>
		<article>
	</head>
	<body >
		<main class="container"></main>
		<h3><em>Available Pages:</em></h3>
	    <a href="books/" role="button" class="contrast">All Books</a>
		<a href="admin/" role="button" class="contrast">Admin</a>
		<br><br><br>
		<h3><em>URLS:</em></h3>
		<p><strong>books/genre/[insert genre] - to search for all books of a specific genre</strong><p>
		<p><strong>book/[insert book name] - to search for a specific book</strong><p>
		<p><strong>borrower/[insert borrower name] - to search for a specific borrower's information</strong><p>
	</body>
</html>
